<form>
    <h1>DELETANDO LIVRO</h1>

    <mat-form-field class="form">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="livro.titulo" type="text" name="titulo" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Nome do Autor</mat-label>
        <input matInput [(ngModel)]="livro.nome_autor"  required type="text" name="nome_autor" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea matInput [(ngModel)]="livro.texto"  type="text" name="texto" disabled>

        </textarea>
    </mat-form-field>

    <div class="buttons">
        <button  (click)="delete()" class="mat-elevation-z8" mat-raised-button color="primary"> DELETAR</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-raised-button color="warn"> CANCELAR</button>


    </div>
</form>